#pragma code_page(65001)

#define IDI_APP_ICON 101

IDI_APP_ICON ICON "icon.ico"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "Ch3n4y\0"
            VALUE "FileDescription", "路由管理\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "RouteManager\0"
            VALUE "LegalCopyright", "Copyright (C) Ch3n4y\0"
			VALUE "OriginalFilename", "路由管理.exe\0"
            VALUE "ProductName", "路由管理\0"
            VALUE "ProductVersion", "1.0.0\0"
            VALUE "Comments", "Author: Ch3n4y\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
